{% extends "base.html" %}


{% block title %}
    Feel A Bit
{% endblock %}


{% block content %}
    <h2 align="center" style="margin-top: 40px; margin-bottom: 40px">Твори, делись и обсуждай!</h2>

    {% if current_user.is_authenticated %}
        <div style="text-align:center">
            <a href="publish" class="btn btn-info"><font size="5" face="Trebuchet MS">Добавить песню</font></a>
        </div>
    {% else %}
        <div style="text-align:center">
            <font size="5" face="Trebuchet MS">Авторизуйтесь, чтобы публиковать свою музыку!</font>
        </div>
    {% endif %}

    <div class="input-group" style="margin-left: 525px;margin-top: 50px">
        <div class="form-outline" style="margin-right: 10px">
            <input type="search" size="70" id="search_field"
                   class="form-control" placeholder="Введите запрос..." value="{{ search_value }}"/>
        </div>
        <button class="btn btn-primary" onclick="search()">Искать</button>
    </div>

    {% for audio in audios %}
        <div class="border rounded border-warning"
             style="margin-top: 40px; margin-left: 250px; margin-right: 250px; margin-bottom: 50px">
            <a href="user/{{ audio[0] }}" style="margin-top: 15px;margin-left: 15px;display: inline-block">
                <img src="{{ audio[11] }}" width="48px" height="48px"
                     class="border rounded-circle border-danger"/> {{ audio[5] }}
            </a>
            <h4 style="padding-top: 20px;padding-bottom: 10px;padding-left: 20px">{{ audio[3] }}</h4>
            <audio class="audio-main" src="/{{ audio[2] }}" controls></audio>
            <p style="padding-left: 20px">Автор(ы): {{ audio[1] }}</p>
            <p style="padding-top: 20px">
                {% set stl = "width:70px;margin-left:20px;padding-bottom:10px;
                                padding-top:5px;padding-right:5px;" %}
                {% if current_user.id in audio[9] %}
                    {% set stl = stl + "background-color: silver" %}
                {% endif %}
                <span class="border rounded-pill"
                      style="{{ stl }}">
                    <a href="/like/{{ audio[6] }} main">
                        <img src="/static/img/thumb.png" style="margin-left:10px"/>
                    </a>
                    {{ audio[7] }}
                </span>
                {% set stl1 = "width:70px;margin-left:20px;padding-bottom:10px;
                                    padding-top:5px;padding-right:5px;" %}
                {% if current_user.id in audio[10] %}
                    {% set stl1 = stl + "background-color: silver" %}
                {% endif %}
                <span class="border rounded-pill"
                      style="{{ stl1 }}">
                    <a href="/dislike/{{ audio[6] }} main">
                        <img class='rotateimg180 mirrorY' src="/static/img/thumb.png" style="margin-left:10px"/>
                    </a>
                    {{ audio[8] }}
                </span>
            </p>
        </div>
    {% endfor %}

    <script>
    function search() {
        var x = document.getElementById("search_field").value;
        window.location.replace(`/main/${x}`);
    }
    </script>
{% endblock %}
